---
import { getProfileAccounts } from '../../api';
import { setDB } from '../../api/common';
import { getTransaction } from '../../api/transactions';
import Main from '../../layouts/Main.astro';
import { currentUser } from '../../utils';

setDB(Astro.locals.runtime?.env?.DB);

const profile = await currentUser(Astro.cookies);

if (!profile) {
	return Astro.redirect('/login');
}

const accounts = await getProfileAccounts(profile.id).catch(() => null);
if (!accounts) {
	return Astro.rewrite('/404');
}

const tx = Astro.params.id ? await getTransaction(Astro.params.id) : null;

if (!tx) {
	return Astro.rewrite('/404');
}

if (!accounts.some(({ id }) => tx?.from == id || tx?.to == id)) {
	return Astro.rewrite('/403');
}
---

<Main title="View Transaction">
	<div>
		<h4>Transaction {tx.id}</h4>
		<p>From: {tx.from}</p>
		<p>To: {tx.to}</p>
		<p>Amount: ${tx.amount}</p>
		<p>Time: {new Date(tx.timestamp).toLocaleString()}</p>
		<p>Memo: {tx.memo}</p>
	</div>
</Main>
