---
import { Account, getAccount, getProfileAccounts } from '../../api';
import { setDB } from '../../api/common';
import { getTransaction, updateTransactionMetadata } from '../../api/transactions';
import Main from '../../layouts/Main.astro';
import { checkParams, currentUser, parseBody } from '../../utils';

setDB(Astro.locals.runtime?.env?.DB);

const profile = await currentUser(Astro.cookies);

if (!profile) {
	return Astro.redirect('/login');
}

const accounts = await getProfileAccounts(profile.id).catch(() => null);
if (!accounts) {
	return Astro.rewrite('/404');
}

const tx = Astro.params.id ? await getTransaction(Astro.params.id) : null;

if (!tx) {
	return Astro.rewrite('/404');
}

if (!accounts.some(({ id }) => tx?.from == id || tx?.to == id)) {
	return Astro.rewrite('/403');
}

if(Astro.request.method == 'POST') {
	const body = await parseBody<Record<'category', string>>(Astro.request.clone());
	try {
		checkParams(body, 'category');
	} catch {
		return Astro.rewrite('/400');
	}

	updateTransactionMetadata(tx.id, body);
}

const from = (await getAccount(tx.from).catch(() => null)) || ({} as Partial<Account>);
const to = (await getAccount(tx.to).catch(() => null)) || ({} as Partial<Account>);
---

<Main title="View Transaction">
	<div>
		<h4>Transaction {tx.id}</h4>
		<p>From: {from.profile == profile.id ? <a href={`/account/${from.id}`}>{from.name || <em>Unknown</em>}</a> : <span>{from.id || <em>Unknown</em>}</span>}</p>
		<p>To: {to.profile == profile.id ? <a href={`/account/${to.id}`}>{to.name || <em>Unknown</em>}</a> : <span>{to.id || <em>Unknown</em>}</span>}</p>
		<p>Amount: ${tx.amount}</p>
		<p>Time: {new Date(tx.timestamp).toLocaleString()}</p>
		<p>Memo: {tx.memo}</p>
		<br />
		<form method="post">
			<p>Category: <input name="category" value={tx.metadata.category} /></p>
			<button id="save" style="display:none">Save</button>
		</form>
	</div>
	<script>
		document.querySelectorAll('input')!.forEach(input => input.addEventListener('change', () => {
			document.querySelector<HTMLButtonElement>('#save')!.style.display = 'block';
		}));
	</script>
</Main>
